// @import '../lib/variables';

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    margin-top: 0;
    margin-bottom: .5em;
    line-height: 1.1;
    font-weight: 500;
    color: map-get($greyscale , color-darkgrey);
}

h1{
    color: map-get($greyscale , color-black);
    font-size: 2.3rem;
    font-weight: 500;
}

h2{
    color: map-get($greyscale , color-black);
    font-size: 2.1rem;
}

h3{
    font-size: 1.9rem;
}

h4{
    font-size: 1.7rem;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1.3rem;
}